name: Update LeetCode Data

on:
  schedule:
    - cron: "0 * * * *" # every 1 hour
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Run update script
        run: |
          go run scripts/update.go

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add frontend/public/data.json
          git commit -m "Update LeetCode data" || echo "No changes"
          git push
